.App {
  text-align: center;

  #quote-box{
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 25px;
    #author{
      text-align: end;
    }
  #tweet-quote{
    background-color: #1da1f2;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    float: left;
  }
  #new-quote{
    background-color: #1da1f2;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    float: right;
  }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}





